* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.15em;
}

header a:hover {
  color: rgb(135, 135, 135);
}

main {
  height: 80vh;
}

footer {
  display: flex;
  justify-content: center;
}

article {
  display: flex;
  padding: 20px;  

  justify-content: space-evenly;
  background-color: rgb(73, 94, 87);
}

aside.description {
  width: 30%;
}

.heading-lemon {
  color: rgb(244, 206, 20);
  font-size: 2rem;
}

.sub-heading-lemon {
  color: rgb(237, 239, 238);
}

.description-lemon {
  color: rgb(237, 239, 238);
  width: 10rem;
  padding: 10px 0;
}

img {
  border-radius: 16px;
}

button {
  border-radius: 8px;
  width: 9rem;
  height: 2.5rem;
  background-color: rgb(244, 206, 20);
  font-weight: bold;
  border-color: rgb(244, 206, 20);
  cursor: pointer;
}